@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.getStarted__outer {
  text-align: center;
}

.getStarted__inner {
  background-color: whitesmoke;
  width: 60vw;
  margin: auto;
}

.finPock {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  padding: 2rem 0;
}

.outer__signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buisness {
  padding: 1rem;
  background-color: white;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
  width: 7vw;
}

.buisness__signup {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  width: 20vw;
}

.buisness__signup:focus {
  outline: none;
}

.post {
  padding: 0.5rem 1rem;
  background-color: rgb(132, 196, 37);
  width: 8vw;
  margin: auto;
  margin-top: 1rem;
  color: white;
  border-radius: 10px;
}

.posts {
  padding: 0.5rem 1rem;
  background-color: rgb(132, 196, 37);
  width: 15vw;
  margin: auto;
  margin-top: 1rem;
  color: white;
  border-radius: 10px;
}
