@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.getStarted__outer {
  text-align: center;
}

.getStarted__inner {
  background-color: whitesmoke;
  width: 60vw;
  margin: auto;
}

.finPock {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  padding: 2rem 0;
}

.outer__signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buisness {
  padding: 1rem;
  background-color: white;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
}

.buisness__signup
{
  padding: 1rem;
}
