.header__outer {
  background-color: black;
  color: white;
  width: 100vw;
  margin-left: -1rem;
  margin-top: -0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__outer > h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.login {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: right;
}

.login1 {
  padding-right: 0.5rem;
}

.body__outer {
  display: flex;
  align-items: center;
  justify-content: center;
}
