@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.header__outer {
  background-color: white;
  color: black;
  width: 100vw;
  margin-left: -1rem;
  margin-top: -0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.login {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: right;
}

.login1 {
  padding-right: 0.5rem;
}

.login2 {
  padding-right: 0.5rem;
  background-color: rgb(175, 207, 128);
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 10px;
  color: white;
}

.body__outer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.myImg {
  height: 70vh;
  margin-left: 10rem;
}

.investment {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}

.fin {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}
